<!DOCTYPE html>
<html lang="ko" data-theme="dark-poole">
  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ '/' | relative_url }}" title="Home">{{ site.title }}</a>

          <nav class="nav">
            {% for nav in site.nav %}
            <small><a href="{{ nav.url | relative_url }}">{{ nav.title }}</a></small>
            {% endfor %}
          </nav>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}"
            >{{ site.time | date: '%Y' }}</time
          >. SON Kiseok Technical Blog.
        </small>
      </footer>
    </div>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
  </body>
</html>
